@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-primary-color: #0a0a0a;
  --dark-primary-color: #c7c7c7;

  --light-secondary-color: #000;
  --dark-secondary-color: #fff;

  --light-background: #F1F4FB;
  --dark-background: #0a0a0a;

  --foreground-color: #ffa500;
  --Gradient-Heading : linear-gradient(90deg, #00FDEE -2.06%, #8F00FF 100%);
  --rev-gradient-Heading: linear-gradient(90deg, #8F00FF -2.06%, #00FDEE  100%);
}
.text-shadow {
  text-shadow: 2px 1px 2px black;
}
.text-shadow-dark {
  text-shadow: 2px 1px 2px white;
}
.para-full-screen {
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  /* color: var(--dark-primary-color); */
}
.para-small-screen {
  font-size: 14px;
  font-weight: 400;
  line-height: 25.6px;
}

.project-headers-full {
  font-size: 32px;
  font-weight: 500;
  line-height: 44.8px;
}
.project-headers-small {
  font-size: 24px;
  font-weight: 500;
  line-height: 33.6px;
}
.light-bg {
  background:  var(--light-background);
}
.dark {
  background: var(--dark-background);
}


/* .nav-text-active {
  color: #8F00FF;
} */




/*  toggle  styles*/
label {
  width: 48px;
  height: 23px;
  position: relative;
  display: block;
  background: #c7c7c7;
  border-radius: 200px;
  cursor: pointer;
  transition: 0.3s;
}
label:after {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  top: 3px;
  left: 1.5px;
  background-color: #383333;
  border-radius: 180px;
  transition: 0.3s;
}
#darkmode-toggle {
  width: 0;
  height: 0;
  visibility: hidden;
}
input:checked + label {
  background: #242424;
}
input:checked + label:after {
  transform: translateX(27px);
  background: linear-gradient(180deg, #777, #3a3a3a);
}

input:checked + label + .background {
  background: #242424;
}
label svg {
  position: absolute;
  width: 13px;
  top: 5px;
  z-index: 100;
}
label svg.sun {
  left: 2.9px;
  fill: #d8860b;
  transition: 0.3s;
}
label svg.moon {
  left: 30px;
  fill: #050505;
  transition: 0.3s;
}
input:checked + label svg.sun {
  fill: #d8860b;
}
input:checked + label svg.moon {
  fill: #fff;
}


/* toggle styles end */

.heading-txt {
  background: var(--Gradient-Heading);
  background-clip:  text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.rev-heading-txt {
  background: var(--rev-gradient-Heading);
  background-clip:  text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btn {
  background: #8F00FF;
  height: 54px;
  /* border-end-end-radius: 0; */
  border-radius: 100px;
  font-weight: 700;
  border-radius: 100px;
  text-transform: uppercase;
}
.icon:hover {
  background: var(--Gradient-Heading);
  -webkit-animation: spin 2s;
  -moz-animation: spin 2s;
  -o-animation: spin 2s;
  animation: spin 2s;
}
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotateY(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotateY(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.proj-info {
  padding: 12px 0;
  border-bottom: 1px solid #484848;
}

.loader {
  width: 20px;
  height: 20px;
  border: 5px solid rgb(227, 21, 21);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
   }
  } 
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #c7c7c7;
    --secondary-color: #fff;
    --background: #0a0a0a;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

