@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-primary-color: #0a0a0a;
  --dark-primary-color: #c7c7c7;

  --light-secondary-color: #000;
  --dark-secondary-color: #fff;

  --light-background: #fff;
  --dark-background: #0a0a0a;

  --foreground-color: #ffa500;
}
.para-full-screen {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}
.para-small-screen {
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
}

.project-headers-full {
  font-size: 32px;
  font-weight: 500;
  line-height: 44.8px;
}
.project-headers-small {
  font-size: 24px;
  font-weight: 500;
  line-height: 33.6px;
}
.light-bg {
  background: var(--light-background);
}
.dark-bg {
  background: var(--dark-background);
}

.nav-text {
  border-bottom: 2px solid #c7c7c7;
  padding-bottom: 5px;
}
.nav-text-active {
  color: var(--foreground-color);
}
.nav-text:hover, .nav-text-full:hover {
  border-bottom: 3px solid var(--foreground-color)
}

/*  toggle  styles*/
label {
  width: 48px;
  height: 20px;
  position: relative;
  display: block;
  background: var(--dark-primary-color);
  border-radius: 200px;
  cursor: pointer;
  transition: 0.3s;
}
label:after {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  top: 2px;
  left: 1.5px;
  background-color: #383333;
  border-radius: 180px;
  transition: 0.3s;
}
#darkmode-toggle {
  
  width: 0;
  height: 0;
  visibility: hidden;
}
input:checked + label {
  background: #242424;
}
input:checked + label:after {
  transform: translateX(27px);
  background: linear-gradient(180deg, #777, #3a3a3a);
}

input:checked + label + .background {
  background: #242424;
}
label svg {
  position: absolute;
  width: 13px;
  top: 3.1px;
  z-index: 100;
}
label svg.sun {
  left: 2.9px;
  fill: #d8860b;
  transition: 0.3s;
}
label svg.moon {
  left: 30px;
  fill: #050505;
  transition: 0.3s;
}
input:checked + label svg.sun {
  fill: #d8860b;
}
input:checked + label svg.moon {
  fill: #fff;
}

/* toggle styles end */


.btn {
  background-color: var(--foreground-color);
  height: 54px;
  padding: 20px 6px 20px 24px;
  border-radius: 100px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 100px;
  text-transform: uppercase;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #c7c7c7;
    --secondary-color: #fff;
    --background: #0a0a0a;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

