@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-primary-color: #0a0a0a;
  --dark-primary-color: #c7c7c7;

  --light-secondary-color: #000;
  --dark-secondary-color: #fff;

  --light-background: #fff;
  --dark-background: #0a0a0a;

  --btn-bg: #d3e971;
}
.para-full-screen {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}
.para-small-screen {
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
}

.project-headers-full {
  font-size: 32px;
  font-weight: 500;
  line-height: 44.8px;
}
.project-headers-small {
  font-size: 24px;
  font-weight: 500;
  line-height: 33.6px;
}
.light-bg {
  background: var(--light-background);
}
.dark-bg {
  background: var(--dark-background);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #c7c7c7;
    --secondary-color: #fff;
    --background: #0a0a0a;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
